{#Чем layout.html отличается от base.html?#}
{##}
{#layout.html наследует base.html ({% extends "base/base.html" %}).#}
{#Добавляет боковую панель (sidebar), например, для личного кабинета.#}
{#Вводит новый блок {% block page_content %}, который будут переопределять страницы внутри админки.#}

{% extends "base/base.html" %}

{% block content %}
    <div class="sidebar">
        {% include "components/sidebar.html" %}
    </div>
    <div class="main-content">
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
